[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
requests = "*"
pyyaml = "*"
google-api-python-client = "*"
pymongo = "*"
dnspython = "*"
flask = "*"
flask-pymongo = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.8"
